<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-8 col-sm-12">
            <div class="form form-lg">
                <img class="user-avatar" src="assets/images/logo.png" width="100px" />
                <h1>Noon - Forgot password </h1>
                <form role="form" #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.form.valid && checkForgotPassword()">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="email" name="user_email" class="form-control input-underline input-lg" [pattern]="emailPattern" [(ngModel)]="forgotPasswordModel.user_email"
                                placeholder="Email" #user_email="ngModel" required>
                            <div *ngIf="user_email.invalid && user_email.touched">
                                <p class="input-info error-message" *ngIf="user_email.errors.required">Email is required</p>
                                <p class="input-info error-message" *ngIf="user_email.errors.pattern">Email is not valid.</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-btn" type="submit">Email me recovery link</button>
                    <p class="link" [routerLink]="['/feed']"><i>Back to login</i></p>
                </form>
            </div>
        </div>
    </div>
</div>