# Name: my-auth0-android-app (can be anything)
# Redirect URL: https://auth0.im/login/oauth/callback
oauth_client_id="..."
oauth_client_secret="..."
oauth_redirect_uri="https://our.redirect.url/login/oauth/callback"

# (optional) Project id from Google Developer Console, https://console.developers.google.com/
google_project_id="null"

# (optional) Settings for building a signed release apk
signing_key_password="..."
signing_keystore_password="..."
signing_key_alias="..."
