<div>
    <h4>
        <a class="btn btn-success btn-lg back" backDirection>
            <span class="fa fa-arrow-left"></span>
        </a>
        <span>App Update</span>
        <noon-loader *ngIf="isCallingApi"></noon-loader>
    </h4>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <form class="form-horizontal noon-form" #manageAppForm="ngForm"
                (ngSubmit)="manageAppForm.form.valid && manageAppUpdate()">
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="Version">App Version Number</label>
                    <div class="col col-sm-8">
                        <input type="text" id="Version" class="form-control" placeholder="Enter Version Number"
                            name="Version" [(ngModel)]="updateModel.version" #Version="ngModel" required>
                        <div *ngIf="Version.invalid && (Version.touched || manageAppForm.submitted)">
                            <p class="input-info error-message" *ngIf="Version.errors.required">Version Number is
                                required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="versionCode">App Version Code</label>
                    <div class="col col-sm-8">
                        <input type="text" id="versionCode" class="form-control" placeholder="Enter Version Code"
                            name="versionCode" [(ngModel)]="updateModel.versionCode" #Version="ngModel" required>
                        <div *ngIf="versionCode.invalid && (versionCode.touched || manageAppForm.submitted)">
                            <p class="input-info error-message" *ngIf="versionCode.errors.required">Version Code is
                                required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="Version">is Force Update</label>
                    <div class="col col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" [(ngModel)]="updateModel.isForceUpdate" #status="ngModel">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 pull-right">
                        <button type="submit" class="btn btn-primary m-r-20px"
                            [disabled]="manageAppForm.invalid || isCallingApi">Submit</button>
                        <button class="btn btn-danger" backDirection>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

