<div>
    <div class="row">
        <!-- <textarea id="t1" name="mention1" class="mention1" cols="60" rows="6"></textarea> -->
        <!-- <button class="btn btn-info pull-right m-r-20px" title="Send" (click)="sendMsg()">Send </button> -->
        <div class="col col-xl-12 col-lg-12">
            <div class="row">
                <h3 class="control-label col-md-4 col-sm-12">Users List</h3>
                <h3 class="control-label col-md-8 col-sm-12 no-padding">
                    <button class="btn btn-info pull-right m-r-20px" title="Add user" [routerLink]="['/users/add-user']">Add
                        user
                    </button>
                    <app-noon-search class="list-inline-item pull-right mr-4" (func)="search($event)"></app-noon-search>
                </h3>
            </div>
            <form class="form-horizontal noon-form">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 no-padding" style="max-width: 85px;" for="email">User
                        type :</label>
                    <div class="col col-md-4 col-sm-9">
                        <select class="form-control" name="roleId" [(ngModel)]="filterModel.roleid" (change)="filterByRole(filterModel.roleid)">
                            <!-- <option [value]=undefined disabled>Select Role</option> -->
                            <option [value]=undefined>All</option>
                            <option *ngFor="let role of userRoles" [value]="role.id">{{role.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <noon-loader *ngIf="isUserLoading && usersList.length == 0"></noon-loader>
            <div class="table-responsive noon-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersList;let i=index;">
                            <td>{{user.id}}</td>
                            <td>
                                <span *ngIf="user.username">
                                    {{user.username}}
                                </span>
                                <span *ngIf="!user.username">
                                    --
                                </span>
                            </td>
                            <td>{{user.email}}</td>
                            <td>{{user.roleName}}</td>
                            <td>
                                <button class="btn btn-primary btn-action" title="Edit" routerLink="/users/edit-user/{{user.id}}"
                                    routerLinkActive="router-link-active"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-action" title="Delete" (click)="openDeleteConfirmation(user,i)">
                                    <i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="filterModel.totalCount > 0">
                <ngb-pagination [collectionSize]="filterModel.totalCount" class="d-flex justify-content-end" [pageSize]="filterModel.perpagerecord"
                    [(page)]="filterModel.pagenumber" [maxSize]="5" [boundaryLinks]="true" aria-label="Default pagination"
                    (pageChange)="onPageChange($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
<app-common-dialog #listdialog (deleteEvent)="deleteUser($event)"></app-common-dialog>