.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }

// scrollbar changes
::-webkit-scrollbar {
    width: 12px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    // background: rgba(34, 34, 34, 1);
    background: rgba(38, 37, 77, 1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    // background: rgba(34, 34, 34, 1);
    background: rgba(38, 37, 77, 1);
}

// margin section
.m-r-20px {
    margin-right: 20px;
}
.m-t-20px {
    margin-top: 20px;
}
.m-l-20px {
    margin-left: 20px !important;
}

// padding section
.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.fs-12 {
    font-size: 12px;
}

//avatar
.q-avatar {
    position: relative;
    height: 90px;
    width: 90px;
    max-width: 90px;
    padding: 5px;
    img.quiz-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #9e9e9e;
    }
    .edit-pic {
        position: absolute;
        top: 2px;
        right: 0;
        padding-top: 6px;
        padding-left: 2px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: rgba(230, 15, 15, 0.95);
        color: white;
        cursor: pointer;
    }
}

//avatar
.avatar {
    position: relative;
    height: 90px;
    width: 90px;
    max-width: 90px;
    margin: 0 auto;
    padding: 5px;
    img.user-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .edit-pic {
        position: absolute;
        top: 10px;
        right: 0;
        padding-top: 4px;
        padding-left: 2px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.85);
        color: white;
        cursor: pointer;
    }
}

//feedback
.noon-container {
    margin: 8px;
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.drop-file .drop-zone .content,
.drop-file .drop-zone {
    height: 60px !important;
}

.drop-file .drop-zone {
    border: 2px solid #0782d0 !important;
    border-radius: 0px;
}

img.course-avatar {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border: 1px solid #e5e5e5;
    transition: transform .2s;
}

.course-avatar:hover{
    transform: scale(2.2);
}

// dragula
/* in-flight clone */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */

.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.lession-list {
    min-height: 50px;
}

.dropdown-menu.show {
    max-height: 200px;
    overflow: auto;
    width: 100%;
}
.outline-0 {
    outline: 0 !important;
}


.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;
    margin: 0 auto;
    max-width: 472px;
    min-height: 100px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.hide-overflow {
    overflow: hidden !important;
}

.pos-rel{
    position: relative;
}



.custom-quill {
    .ql-toolbar.ql-snow{
        display: none;
    }
    .ql-editor{
        padding: 0px;
    }
    .ql-container{
        border: none !important;
    }
}
.policy-quill {
    .ql-editor {
        height: 400px;
    }
}

.mat-datepicker-toggle {
    button {
        outline: 0;
    }
}
.mat-option-text {
    color: black !important
}
.mat-ink-bar {
    background-color: black !important;
}
.mat-form-field-ripple {
    background-color: black !important;
}
.mat-form-field-label {
    color: black !important;
}
.mat-select-arrow {
    color: black !important;
}