<div class="card mb-3" style="margin-top:10px;height: 92vh;">
  <div class="card-body btn text-center chat-body">
    <div style="height:calc(92vh - 75px);overflow: auto;">

    </div>
    <div class="row message-input-area">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <input autocomplete="off" class="message_input" name="message" placeholder="Write Message" type="text"
          ng-reflect-name="message">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <button class="btn send_button">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>