.full-width{
    width: 100%;
}
.fs-20 {
    font-size: 20px;
}
.text-right {
    text-align: right;
}
.save-btn {
    border-radius: 4px;
    color: #ffffff;
    background-color: #100d59;
}
.cancel-btn {
    border-radius: 4px;
    background-color: #ffffff;
}
mat-card {
    padding: 25px 25px 0;
}