.container {
    p{
        height: 48px;
        margin: 0;
        display: flex;
        align-items: center;
        padding-left: 15px;
    }
    .tab-container {
        padding: 0 20px 0 20px;
    }
}
