<div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="row">
                <h3 class="control-label col-md-4 col-sm-12">School List</h3>
                <h3 class="control-label col-md-8 col-sm-12 no-padding">
                    <button class="btn btn-info pull-right m-r-20px" title="Add question type" [routerLink]="['/school/add-school']">Add
                        school
                    </button>
                    <app-noon-search class="list-inline-item pull-right mr-4" (func)="search($event)"></app-noon-search>
                </h3>
            </div>
            <noon-loader *ngIf="isSchoolLoading"></noon-loader>
            <div class="table-responsive noon-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Modified date</th>
                            <th>Modified by</th>
                            <th>Created date</th>
                            <th>Created by</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let school of SchoolList;let i=index;">
                            <td>{{school.id}}</td>
                            <td>
                                {{school.name}}
                            </td>
                            <td>
                                <span *ngIf="!school.lastmodificationtime">--</span>
                                <span *ngIf="school.lastmodificationtime">{{school.lastmodificationtime}}</span>
                            </td>
                            <td>
                                <span *ngIf="!school.lastmodifieruserid">--</span>
                                <span *ngIf="school.lastmodifieruserid">{{school.lastmodifieruserid.username}}</span>
                            </td>
                            <td>
                                <span *ngIf="!school.creationtime">--</span>
                                <span *ngIf="school.creationtime">{{school.creationtime}}</span>
                            </td>
                            <td>
                                <span *ngIf="!school.creatoruserid">--</span>
                                <span *ngIf="school.creatoruserid">{{school.creatoruserid.username}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-action" title="Edit" routerLink="/school/edit-school/{{school.id}}"
                                    routerLinkActive="router-link-active"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-action" title="Delete" (click)="openDeleteConfirmation(school,i)">
                                    <i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="filterModel.totalCount > 0">
                <ngb-pagination [collectionSize]="filterModel.totalCount" class="d-flex justify-content-end" [pageSize]="filterModel.perpagerecord"
                    [(page)]="filterModel.pagenumber" [maxSize]="5" [boundaryLinks]="true" aria-label="Default pagination"
                    (pageChange)="onPageChange($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
<app-common-dialog #listdialog (deleteEvent)="deleteSchool($event)"></app-common-dialog>