<div>
    <h4>
        <a class="btn btn-success btn-lg back" backDirection>
            <span class="fa fa-arrow-left"></span>
        </a>
        <span *ngIf="isEditView">Edit</span><span *ngIf="!isEditView">Add</span> Package
        <noon-loader *ngIf="isCallingApi"></noon-loader>
    </h4>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <form class="form-horizontal noon-form" #managePackageForm="ngForm" (ngSubmit)="managePackageForm.form.valid && managePackage()">
             
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="package_name">Name :</label>
                    <div class="col col-sm-8">
                        <input type="text" [disabled]="isEditView" id="package_name" class="form-control" placeholder="Enter name" name="package_name"
                            [(ngModel)]="packageModel.name" #package_name="ngModel" required>
                        <div *ngIf="package_name.invalid && (package_name.touched || managePackageForm.submitted)">
                            <p class="input-info error-message" *ngIf="package_name.errors.required">Name is required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="package_price">Price :</label>
                    <div class="col col-sm-8">
                        <input type="number" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="package_price" class="form-control" placeholder="Enter price" name="package_price"
                            [(ngModel)]="packageModel.price" #package_price="ngModel" required>
                        <div *ngIf="package_price.invalid && (package_price.touched || managePackageForm.submitted)">
                            <p class="input-info error-message" *ngIf="package_price.errors.required">Price is required</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 pull-right">
                        <button type="submit" class="btn btn-primary m-r-20px" *ngIf="isEditView" [disabled]="managePackageForm.invalid || isCallingApi">Edit
                            Package</button>
                        <button type="submit" class="btn btn-primary m-r-20px" *ngIf="!isEditView" [disabled]="manageServiceForm.invalid || isCallingApi">Add
                            Package
                           
                        </button>
                        <button class="btn btn-danger" backDirection>Cancel</button>
                    
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-2 row" *ngIf=isEditView >
        <div class="col col-xl-6 col-lg-12">
            <div class="col-sm-offset-2 col-sm-8 pull-right">
                <button type="button" class="btn btn-primary m-r-20px" (click)="openAddCourseModal()">
                    Add course to package
                </button>
            </div>
        </div>
        <noon-loader *ngIf="isPackageCourseLoading"></noon-loader>
        <div class="mt-2 col col-xl-12 col-lg-12" *ngIf="packageCourseList && packageCourseList.length > 0">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="table-responsive noon-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of packageCourseList;let i=index;">
                                    <td>{{course.id}}</td>
                                    <td>
                                        {{course.name}}
                                    </td>
                                    <td>
                                        {{course.code}}
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-action" title="Delete" (click)="openDeleteConfirmation(course,i)">
                                            <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="filterCourseModel.totalCount > 0">
                        <ngb-pagination [collectionSize]="filterCourseModel.totalCount" class="d-flex justify-content-end"
                            [pageSize]="filterCourseModel.perpagerecord" [(page)]="filterCourseModel.pagenumber"
                            [maxSize]="5" [boundaryLinks]="true" aria-label="Default pagination" (pageChange)="onPageChange($event)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <app-common-dialog #listdialog (deleteEvent)="deleteCourseFromPackage($event)"></app-common-dialog>
    </div>
</div>
<noon-course-selection #assignCourseDialog [coursesList]="coursesList" title="Add course to package" (addCourse)="addCourseToPackage($event)"></noon-course-selection>